.mainButton {
  font-size: 2rem;
  border-radius: 10px;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 4px solid var(--white-font-color);
  margin: 2rem 0;

  background-color: var(--dark-bg-color);
  background-image: linear-gradient(
    90deg,
    var(--green-color),
    var(--purple-color)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  position: relative; /* Needed for the pseudo-element positioning */
  overflow: hidden; /* Ensures the shine effect doesn't overflow the button */
}

/* Shine effect */
.mainButton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -115%; /* Start the shine effect off-screen */
  width: 100%;
  height: 100%;
  background: rgba(213, 211, 211, 0.726); /* Light white shine effect */
  transform: skewX(-45deg); /* Add the angled shine */
  transition: transform 0.3s ease;
  z-index: 1; /* Ensure it sits above the text but below any future content */
}

/* Animation */
.mainButton:hover::after {
  animation: shine 0.4s linear;
}

.secondaryButton {
  font-size: 1.6rem;
  width: 95%;
  border-radius: 5px;
  cursor: pointer;
  padding: 1rem 2rem;
  border: none;
  box-shadow: 0 0.5rem #fff;
  margin-bottom: 0.5rem;
}

.secondaryButton:hover {
  box-shadow: 0 0.3rem #fff;
  transform: translateY(0.2rem);
}

.secondaryButton:active {
  box-shadow: 0 0 #fff;
  transform: translateY(0.3rem);
}

.bgColorGreen {
  background-color: var(--green-color);
}

.bgColorPurple {
  background-color: var(--purple-color);
}

.bgColorBlue {
  background-color: var(--blue-color);
}

@keyframes shine {
  from {
    left: -100%; /* Start from outside the left of the button */
  }
  to {
    left: 100%; /* Move across to the right side */
  }
}
