.aboutMeSkill {
  border-radius: 2px;
  color: black;
  padding: 2px 8px;
  margin: 2px;
  font-size: 1.8rem;
}

.aboutMeSkillAdv {
  background-color: #16e0bd;
}

.aboutMeSkillInt {
  background-color: #b953ff;
}

.aboutMeSkillNovice {
  background-color: #4452fb;
}
