.coolAboutMeSkill {
  border-radius: 2px;
  color: black;
  padding: 2px 8px;
  margin: 2px;
}

.coolAboutMeSkillAdv {
  background-color: #16e0bd;
}

.coolAboutMeSkillInt {
  background-color: #b953ff;
}

.coolAboutMeSkillNovice {
  background-color: #4452fb;
}
