.heading {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 3.5rem;
}

.coolAboutMeSkillBox {
  padding: 1rem;
  margin-bottom: 1rem;
  max-width: 400px;
}

@media only screen and (max-width: 37.5em) {
  .coolAboutMeSkillBox {
    max-width: 300px;
  }
}

.coolAboutMeSkillBoxAdv {
  border: 2px solid #16e0bd;
}

.coolAboutMeSkillBoxInt {
  border: 2px solid #b953ff;
}

.coolAboutMeSkillBoxNovice {
  border: 2px solid #4452fb;
}

.coolAboutMeSkillsContainer {
  display: flex;
  flex-wrap: wrap;
}
