@import url(./fonts.css);

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid/flex items > page layout > components

Here, we use em instead of rem because rem fail here in their usage. 1em = 16px (usually)
*/

html {
  font-size: 62.5%;

  /* 
  // 1rem = 10px, 10/16 = 62.5%
  // This defines what 1rem is
  // = 10px; This is 62.5% of default font-size of the browser which usually is 16px
  */
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%; /* // 1rem = 9px, 9/16 = 56.25% */
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%; /* // 1rem = 8px, 8/16 = 50% */
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%; /* // 1rem = 12px, 12/16 = 75% */
  }
}

:root {
  --dark-bg-color: #000000;
  --white-font-color: #ffffff;
  --green-color: #16e0bd;
  --purple-color: #b953ff;
}

body {
  background-color: var(--dark-bg-color);
}
